<div>
    <table>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Search By letter head</mat-label>
                    <input type="text" matInput placeholder="personal"/>
                    <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            </td>
            <td>
                <div>
                    <button mat-mini-fab color="accent" (click)="openDialog()">+</button>

                </div>
                
            </td>
        </tr>
        
    </table>
    <table >
        <thead>
            <th>Letter Id</th>
            <th>Letter No</th>
            <th>Letter title</th>
            <th>Recieve Date</th>
            <th>Assign Date</th>
            <th>Assign Unit</th>
            <th>Status</th>
            <th>Description</th>
            <th>Action</th>
        </thead>
        <tbody *ngFor="let letter of letters">
            <td>
                <div >
                    {{letter.payload.doc.data().letter_ID}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_No}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_title}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_recievedDate}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_assignedDate}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_assignedUnit}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_status}}
                </div>
            </td>
            <td>
                <div>
                    {{letter.payload.doc.data().letter_description}}
                </div>
            </td>
            <td>
                <div>
                    <mat-icon matSuffix style="color: #f00;" (click)="delete(letter.payload.doc.data().letter_key)">delete_forever</mat-icon>
                </div>
                <div>
                    <mat-icon matSuffix style="color:cornflowerblue;" >create</mat-icon>
                </div>
            </td>
        </tbody>
    </table>

    
    
</div>
