<form>
    <mat-form-field>
        <mat-label>Letter ID : </mat-label>
        <input matInput placeholder="L123" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Letter Number : </mat-label>
        <input matInput placeholder="768E" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Title of the letter : </mat-label>
        <input matInput placeholder="Personal Letter" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Recieve Date : </mat-label>
        <input matInput type="date" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Assign Date : </mat-label>
        <input matInput type="date" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Assign Unit : </mat-label>
        <input matInput type="text" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Letter Status : </mat-label>
        <input matInput type="text" required/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Description : </mat-label>
        <input matInput type="text" required/>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="accent" >SUBMIT</button>
</form>
