<div style="width: 200px;">
    <div>
        <a routerLink='/dashboard' routerLinkActive='active'>
            <button mat-raised-button color="primary" style="width: 200px;">Dashbord</button>
        </a>
        <br/><br/>
        <button mat-raised-button color="primary" style="width: 200px;">Admin</button>
        <br/><br/>
        <a routerLink='/letterManager'>
            <button mat-raised-button color="primary" style="width: 200px;">Letter Handler</button>
        </a>
        <br/><br/>
        <button mat-raised-button color="primary" style="width: 200px;">Unit User</button>
        <br/><br/>
        <button mat-raised-button color="primary" style="width: 200px;">Derector</button>
    </div>
</div>
